.marker_text {
  color: #000000;
  padding: 4px 10px;
  border: 1px solid #000000;
  font-size: 12px;
  font-family: "";
  background-color: #ffffff;
  word-break: break-word;
  min-width: 200px;
  max-width: 400px;
}
#header {
  height: 7%;
  z-index: 1;
  text-align: center;
}
#container {
  z-index: 0;
  float: left;
  height: 89%;
  width: 75%;
  position: relative;
  overflow: hidden;
}
#right {
  background-color:#EEEEEE;
  float:left;
  height: 89%;
  width: 25%;
  margin: 0 auto;
  overflow-y: scroll;
}
#content {
  padding-left: 10px;
}
